<div class="container">
	<h1 class="mt-4">Admin Dashboard</h1>
	<p class="lead mb-3">Welcome <%= user.name %>
	</p>
	<% if(sessions !=undefined) { %>
		<div class="d-flex">
			<span class="p-2 lh-2">USER</span>
			<span class="w-30 p-2 lh-2">SESSION ID</span>
		</div>
		<div id="sessions" class="d-flex flex-column">
			<% sessions.forEach((key, value)=> { %>
				<div class="d-flex">
					<span class="p-2 lh-2">
						<%= value %>
					</span>
					<span class="w-30 p-2 lh-2">
						<%= key %>
					</span>
					<a href="/auth/revoke" class="btn btn-secondary my-2 small-btn">REVOKE</a>
				</div>
				<% }) %>
		</div>
		<% } %>
</div>