<div class="container">
  <% reminders.forEach(reminderItem => { %>
  <div class="card text-bg-primary mb-3 mt-3" style="max-width: 18rem;">
    <div class="card-header"><strong><%= reminderItem.title %></strong></div>
    <div class="card-body">
      <h5 class="card-title"><%= reminderItem.description %></h5>
      <p class="card-text"><%= reminderItem.details %></p>
      <span>Completed:</span>
      <% if(reminderItem.completed == true) { %>
        <span class="badge badge-success">True</span>
      <% } else if (reminderItem.completed == false) { %>
        <span class="badge badge-danger">False</span>
      <% } %>  
      <a class="btn btn-primary d-block mt-3" href=<%= "/reminder/" + reminderItem.id %>>View</a>
    </div>
  </div>
  <% }) %>

</div>
